<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>CRUD и связи между сущностями</title>  
</head>  
<body>  
    <h1>CRUD</h1>  
    <div id="notifications"></div>
  
    <h2>Создать категорию</h2>  
    <input type="text" id="category-name" placeholder="Название категории" />  
    <button id="create-category">Создать категорию</button>  
  
    <h2>Создать продукт</h2>  
    <input type="text" id="product-name" placeholder="Название продукта" />  
    <select id="category-select">  
        <option value="">Выберите категорию</option>   
    </select>  
    <button id="create-product">Создать продукт</button>  


    <h2>Создать продавца</h2>  
    <input type="text" id="salesman-name" placeholder="Имя" />  
    <select id="salesman-select"  multiple style="display: block; margin: 20px 0 20px;">  
        <option value="">Выберите продукт</option>   
    </select>  

    <button id="create-salesman">Создать продавца</button>  




    <h2>Добавить описание  продавцу </h2>  
    <input type="text" id="salesman-description-name" placeholder="Описание" />  
    <select id="salesman-description-select"   style="display: block; margin: 20px 0 20px;">  
        <option value="">Выберите продавца</option>   
    </select>  

    <button id="create-description-salesman">Добавить описание</button>  






  
    <div style="display: flex;">
        <div style="margin-left: 10px;">
            <h2>Список категорий</h2>  
            <div id="categories-list"></div>  
        </div>
        <div style="margin-left: 20px;">
            <h2>Список продуктов</h2>  
            <div id="products-list"></div>  
        </div>

        <div style="margin-left: 20px;">
            <h2>Список продавцов</h2>  
            <div id="salesman-list"></div>  
        </div>

        <div style="margin-left: 20px;">
            <h2>Описание продавцов</h2>  
            <div id="salesman-description-list"></div>  
        </div>

</div>

    <script>        
            const socket = new WebSocket("ws://localhost:8000/ws/notifications/");

        

        socket.onmessage = function(event) {
        const notifications = document.getElementById('notifications');
        const message = JSON.parse(event.data).message;  // Исправлено с .text на .message
        notifications.innerHTML += `<p>${message}</p>`;
    };




        async function fetchCategories() {
                try {
                    const response = await fetch('/api/v1/products/categories/'); 
                    if (!response.ok) {
                        throw new Error('Ошибка сети: ' + response.statusText);
                    }

                    const data = await response.json();

                    // Извлекаем массив категорий из results
                    const categories = data.results || []; // Получаем массив категорий

                    const categorySelect = document.getElementById('category-select');
                    const categoriesList = document.getElementById('categories-list');
                    categorySelect.innerHTML = '<option value="">Выберите категорию</option>'; // Очистка селекта
                    categoriesList.innerHTML = ''; // Очистка списка

                    // Проверяем, что это массив и отображаем категории
                    if (Array.isArray(categories)) {
                        categories.forEach(category => {
                            categorySelect.innerHTML += `<option value="${category.id}">${category.name}</option>`;
                            categoriesList.innerHTML += `<p>${category.name}</p>`; // Отображение категории
                        });
                    } else {
                        console.error('Полученные данные не являются массивом:', categories);
                    }
                } catch (error) {
                    console.error('Ошибка при получении категорий:', error);
                }
            }

            





            async function fetchSalesman() {
                    try {
                        const response = await fetch('/api/v1/products/salesman/'); 
                       

                        if (!response.ok) {
                            throw new Error('Ошибка сети: ' + response.statusText);
                        }

                        const response_product = await fetch('/api/v1/products/'); 

                        const data = await response.json();
                        
                        const data_product = await response_product.json();
                       
                        const salesman = data.results || []; 

                        const products = data_product.results || []; 

                        
                        console.log(salesman)



                        const salesmanList = document.getElementById('salesman-list');
                        salesmanList.innerHTML = '';

                        const productSelect = document.getElementById('salesman-select');
           
                        if (Array.isArray(salesman)) {
                            salesman.forEach(salesman => {
                                const productNames = salesman.products_data
                                    .map(product => product.name) 
                                    .join(', '); 

                                salesmanList.innerHTML += `<p>Продавец: ${salesman.name} - Продукты: ${productNames}</p>`; 
                            });

                            products.forEach(product => {
                                productSelect.innerHTML += `<option value="${product.id}">${product.name}</option>`;
                            });

                        } else {
                            console.error('Полученные данные не являются массивом:', salesman);
                        }
                    } catch (error) {
                        console.error('Ошибка при получении продавцов:', error);
                    }
                }



                          


            async function fetchadditionallySalesman() {
                    try {
                        const response = await fetch('/api/v1/products/salesman_additionally/'); // Замените на ваш API
                        const response_user = await fetch('/api/v1/products/salesman/'); 

                        if (!response.ok) {
                            throw new Error('Ошибка сети: ' + response.statusText);
                        }

                   

                        const data = await response.json();
                        const data2 = await response_user.json()

                 
                       
                        const salesman = data.results || []; 
                        const salesman2 = data2.results || []; 

                        console.log(salesman)



                        const salesmanList = document.getElementById('salesman-description-list');
                        const salesmanSelect = document.getElementById('salesman-description-select');
                        salesmanList.innerHTML = '';

                       
           
                        if (Array.isArray(salesman)) {
                            salesman.forEach(salesman => {
                                const name = salesman.salesman_data

                                salesmanList.innerHTML += `<p>Продавец: ${name.name} - Описание: ${salesman.description}</p>`; 
                            });

                            salesman2.forEach(salesman2 => {
                                const name = salesman2

                                salesmanSelect.innerHTML += `<option value="${name.id}">${name.name}</option>`;
                            });

                        } else {
                            console.error('Полученные данные не являются массивом:', salesman);
                        }
                    } catch (error) {
                        console.error('Ошибка при получении описания:', error);
                    }
                }

        
            document.getElementById('create-salesman').onclick = async function() {  
            const name = document.getElementById('salesman-name').value; 
            const productSelect = document.getElementById('salesman-select');

            // Получение всех выбранных продуктов
            const selectedOptions = Array.from(productSelect.selectedOptions);
            const products = selectedOptions.map(option => option.value); // Массив выбранных продуктов

            console.log(products); // Отладка: посмотрите, что вы получили

            if (products.length === 0)  {
                alert('Выберите продукт');
                return;
            }

            if (!name)  {
                alert('Введите имя для продавца');
                return;
            }
            
            await fetch('/api/v1/products/salesman/', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify({ name: name, products: products })  
            });  
            
            await fetchSalesman(); // Обновление списка продавцов

        };



        document.getElementById('create-description-salesman').onclick = async function() {

            const description = document.getElementById('salesman-description-name').value; 
            const name = document.getElementById('salesman-description-select').value;
         
         

           

            if (!name)  {
                alert('Выберите продавца');
                return;
            }

            if (!description)  {
                alert('Введите описание');
                return;
            }
            
            await fetch('/api/v1/products/salesman_additionally/', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify({ salesman: name, description: description })  
            });  
            
            await fetchadditionallySalesman(); // Обновление списка продавцов
        };





        




  
        // Функция для обновления списка продуктов  
        async function fetchProducts() {
                    try {
                        const response = await fetch('/api/v1/products/'); // Замените на ваш API

                        if (!response.ok) {
                            throw new Error('Ошибка сети: ' + response.statusText);
                        }

                        const data = await response.json();

                        // Извлекаем массив продуктов из results
                        const products = data.results || []; // Получаем массив продуктов

                        const productsList = document.getElementById('products-list');
                        productsList.innerHTML = ''; // Очистка списка

                        // Проверяем, что это массив и отображаем продукты
                        if (Array.isArray(products)) {
                            products.forEach(product => {
                                productsList.innerHTML += `<p>${product.name} - Категория: ${product.category_data.name}</p>`; // Отображение продукта с категорией
                            });
                        } else {
                            console.error('Полученные данные не являются массивом:', products);
                        }
                    } catch (error) {
                        console.error('Ошибка при получении продуктов:', error);
                    }
                }



        document.getElementById('create-category').onclick = async function() {  
            const name = document.getElementById('category-name').value; 
            
            if (!name)  {
                alert('Введитие название категории');
                return ;

            }
            
            await fetch('/api/v1/products/categories/', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify({ name: name })  
            });  
            await fetchCategories(); 
        };  

  
        document.getElementById('create-product').onclick = async function() {  
            const name = document.getElementById('product-name').value;  
            const categoryId = document.getElementById('category-select').value;  
            if (!categoryId)  {
                alert('Введитие название категории');
                return ;

            }

            if (!name)  {
                alert('Введитие название продукта');
                return ;

            }

            await fetch('/api/v1/products/', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify({ name: name, category: categoryId })  
            });  
            await fetchProducts(); 
            
            
        };  
  
        // Инициализация  
        fetchCategories();  
        fetchProducts();  
        fetchSalesman();
        fetchadditionallySalesman();
    </script>  
</body>  
</html>


